/*
1: globals
    1.1: html
    1.2: body
2: .side-bar
    2.1:.tab
    2.2:.links
        2.2.1:.link
3:.landing-page
    3.1:.toggle
        3.1.1:#toggle
    3.2:.scroll-text
        3.2.1:.logo
        3.2.2:.scrolling
4:content
    4.1:#about
        4.1.1:.headers
        4.1.2:.content-body
    4.2:#skillset
        4.1.1:.headers
        4.1.2:.content-body
    4.3:#projects
        4.1.1:.headers
        4.1.2:.content-body
    4.4:#contact
        4.1.1:.headers
        4.1.2:.content-body
5:footer

6:responsive-css


*/

/*1:globals*/
html body {
  font-family: "Oswald", sans-serif;
  padding: 0px;
  margin: 0px;
}

/*2:side-bar*/
.sidebar {
  display: inline-block;
  position: fixed;
  top: 5rem;
  z-index: 1;
  background: #000000;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 0rem;
  height: 80vh;
}

.links {
  display: inline;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.tab {
  z-index: 1;
  background: transparent;
  color: #000000;
  line-height: 8.5rem;
  font-size: 2rem;
  width: 2rem;
  padding: 1rem;
  position: fixed;
  height: 9rem;
  top: 18rem;
  left: 0rem;
  cursor: pointer;
}

.sidebar a {
  display: block;
  position: relative;
  font-size: 5rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 16.1vh;
  overflow: hidden;
}

.clicked {
  left: 20rem;
}
.visible {
  display: flex;
}
.open {
  width: 20rem;
}

.sidebar a:hover {
  background: white;
  color: #000000;
}

/*3:landing-page*/
.landing-page {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.logo {
  font-size: 15rem;
  text-align: center;
}

.scroll-text {
  text-align: center;
}

.blurb {
  text-align: center;
}

.scrolling {
  display: block;
  position: relative;
  font-size: 5em;
  text-align: center;
}

.toggle input[type="checkbox"] {
  display: none;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

.toggle label {
  z-index: 20;
  background-color: white;
  border: 2px solid #555;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  transition: all ease-in-out 0.3s;
  width: 60px;
  height: 30px;
  margin: 20px;
}

.toggle label::after {
  background-color: black;
  border-radius: 50%;
  content: " ";
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 1px;
  transition: all ease-in-out 0.1s;
  width: 30px;
  height: 30px;
}

.toggle input[type="checkbox"]:checked ~ label {
  background: black;
  border-color: white;
}

.toggle input[type="checkbox"]:checked ~ label::after {
  background-color: white;
  transform: translateX(28px);
}

/*4:content*/
.headers {
  text-align: center;
  font-size: 5rem;
  height: auto;
}

.content-body {
  display: flex;
  flex-flow: row wrap;
}

.skillset-education {
  width: 40%;
  margin: 0 auto;
}

.technology-container {
  position: relative;
  left: 10%;
}

.school-container {
  position: relative;
  left: 10%;
}

.profile-container {
  margin: 0 auto;
}

.form-control {
  width: 60vw;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

input {
  width: 100%;
  height: 30px;
}

textarea {
  width: 100%;
  height: 60px;
}

.content-projects {
  display: flex;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 20vw;
  margin: 10px;
  height: auto;
}
.card-img {
  width: 100%;
}
/*about*/
.profile {
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}

.modal {
  z-index: 200;
  display: block;
  position: fixed;
  top: 20%;
  left: 20%;
  background: #ffffff;
  width: 35%;
  height: 35%;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
}

.exit {
  z-index: 300;
  display: inline;
  position: fixed;
  color: red;
  top: -30px;
  right: -10px;
  float: right;
  cursor: pointer;
  font-size: 35px;
}

.iframe {
  z-index:200;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/*5:footer*/

/*responsive css*/
@media all and (max-width: 1000px) {
  .toggle {
    margin: 0 auto;
    width: 100%;
  }
  .logo {
    font-size: 10rem;
  }
  .links {
    font-size: 7rem;
  }
  .scroll-text {
    font-size: 0.6rem;
  }
  .tab {
    width: 1rem;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    top: 20rem;
    text-shadow: 5px 2px 2px 2px #000000;
  }
  .sidebar {
    top: 5rem;
    height: 100vh;
  }

  .open {
    width: 15rem;
  }
  .clicked {
    left: 15rem;
  }
  .visible {
    display: flex;
  }
  .sidebar a {
    font-size: 3rem;
    padding-top: 13px;
  }
  .landing-page {
    width: 100vw;
  }
  .headers {
    text-align: center;
    font-size: 2rem;
    height: auto;
  }

  .form-control {
    border: 2px solid black;
    padding: 20px;
  }

  .card {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .card-img {
    width: 100%;
  }

  .skillset-education {
    width: 100%;
  }

  .content-body {
    display: flex;
    flex-direction: row;
  }

  .content-projects {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .modal {
    display: none;
  }
}
